@charset "UTF-8";
/**
  Нормализация блочной модели
 */
/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**  моя нормализация */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a,
input {
  font-size: inherit;
  color: inherit;
  background: inherit;
  text-decoration: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

td,
th {
  vertical-align: top;
  word-wrap: break-word;
}

/*моя нормализация*/
/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  /**
    Унифицированный интерлиньяж
   */
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-main-whiter:#ffffff;
  --color-light:#f5f5f5;
  --color-light-hover-menu:#d7d7d7;
  --color-light-hover:#d9d9d9;
  --color-light-alt:#a5a5a5;
  --color-dark:#000000;
  --color-dark-mobile-font:rgba(0, 0, 0, 0.5);
  --color-dark-menu: rgba(0, 0, 0, 0.05);
  --color-gray:#595959;
  --color-gray-light:#969696;
  --color-fray-alt: #989898;
  --font-family-base: Buyan, sans-serif;
  --transition-duration: 0.3s;
  --max-width-container:1220px;
  --container-width: 1180px;
  --container-padding-x: 20px;
}

@font-face {
  font-display: swap;
}
@font-face {
  font-family: "Buyan";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Buyan-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Buyan";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Buyan-Bold.woff2) format("woff2");
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media screen and (max-width: 550px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 551px) {
  .visible-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 1001px) {
  .hidden-nav-menu-header {
    display: none !important;
  }
}

.font-weight:hover {
  text-shadow: -0.15px -0.15px 0 var(--color-main-whiter), 0.15px -0.15px 0 var(--color-main-whiter), -0.15px 0.15px 0 var(--color-main-whiter), 0.15px 0.15px 0 var(--color-main-whiter);
  transition: all var(--transition-duration);
}

:root {
  --color-main-whiter:#ffffff;
  --color-light:#f5f5f5;
  --color-light-hover-menu:#d7d7d7;
  --color-light-hover:#d9d9d9;
  --color-light-alt:#a5a5a5;
  --color-dark:#000000;
  --color-dark-mobile-font:rgba(0, 0, 0, 0.5);
  --color-dark-menu: rgba(0, 0, 0, 0.05);
  --color-gray:#595959;
  --color-gray-light:#969696;
  --color-fray-alt: #989898;
  --font-family-base: Buyan, sans-serif;
  --transition-duration: 0.3s;
  --max-width-container:1220px;
  --container-width: 1180px;
  --container-padding-x: 20px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 21px;
  line-height: 1.28;
  color: var(--color-dark);
  height: 100%;
}

.lock {
  overflow: hidden;
  height: 100%;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

title {
  font-size: fluid-space 27, 21, 1180, 375;
}

h1 {
  font-size: clamp(10px, 4.665px + 1.667vw, 13px);
}

.header {
  color: var(--color-main-whiter);
  height: 100vh;
  max-height: 750px;
  background: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1000px) {
  .header {
    background: url(../images/header-bg-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: none;
  }
}

.header-wrapper {
  height: 100%;
  padding-bottom: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 550px) {
  .header-wrapper {
    padding-bottom: 55px;
  }
}

.header-wrapper-top {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-dark-menu);
  padding: 7px 0px;
}
@media screen and (max-width: 1000px) {
  .header-wrapper-top {
    background: none;
  }
}
.header-wrapper-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 1000px) {
  .header-wrapper-top .container {
    justify-content: center;
  }
}

.logo {
  width: clamp(65px, 42.8px + 5.92vi, 102px);
  height: 56px;
}

.nav-menu,
.additional-menu {
  flex: 1 0 0;
}

@media screen and (max-width: 1000px) {
  .additional-menu {
    display: none;
  }
}
.header-wrapper-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .header-wrapper-bottom .container {
    justify-content: center;
  }
}

@keyframes font-grow {
  from {
    font-weight: 400;
  }
  /* Исходная позиция */
  to {
    font-weight: 700;
  }
  /* Конечная позиция */
}
.button {
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-dark);
  background: var(--color-main-whiter);
}
.button:active {
  transform: scale(0.95);
  transition: transform var(--transition-duration);
}
.button a {
  display: block;
  padding: 12px 54px;
}
.button a:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: var(--color-light-hover);
  animation: font-grow var(--transition-duration) forwards;
}

.header-bottom-links {
  display: flex;
  gap: 47px;
}
@media screen and (max-width: 550px) {
  .header-bottom-links {
    display: none;
  }
}

.bottom-link-item:hover a {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .nav-menu {
    display: grid;
    align-content: center;
    position: fixed;
    transition: top 1s;
    top: 120%;
    left: 0;
    background: #ffffff;
    color: #000000;
    width: 100%;
    height: 100vh;
    z-index: 5;
  }
}

.nav-menu.active-grid {
  top: 0px;
  transition: top 1s;
}
@media screen and (max-width: 1000px) {
  .nav-menu.active-grid {
    padding-bottom: clamp(70px, 32.7329px + 9.9379vi, 150px);
  }
}

.nav-menu ul {
  display: flex;
  gap: 37px;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}
@media screen and (max-width: 1000px) {
  .nav-menu ul {
    overflow-y: auto;
    /* Включает вертикальную прокрутку при необходимости */
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 25px;
    font-weight: 700;
  }
  .nav-menu ul > li {
    text-decoration: underline;
    text-align: center;
  }
  .nav-menu ul > li:has(.sub-menu.active) {
    text-decoration: none;
  }
  .nav-menu ul > li li {
    text-decoration: none;
    text-align: left;
  }
  .nav-menu ul > li li a {
    color: var(--color-gray);
  }
  .nav-menu ul > li li:hover > a {
    color: var(--color-gray);
  }
  .nav-menu ul > li:hover {
    text-decoration: none;
    color: var(--color-gray);
  }
}
.nav-menu ul li a + .sub-menu {
  display: none;
  position: absolute;
  z-index: 4;
  left: 0;
  top: 40px;
  padding-top: 30px;
  min-width: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* Определение 4 колонок в гриде */
  grid-auto-flow: column;
  /* Установка направления автоматического размещения вправо */
  gap: 10px;
}
@media screen and (max-width: 1000px) {
  .nav-menu ul li a + .sub-menu {
    position: static;
  }
}
.nav-menu ul li a + .sub-menu .sub-menu-wrapper {
  padding: 19px 0px 38px;
  padding-inline: var(--container-padding-x);
  min-width: 100%;
  width: 100%;
}
.nav-menu ul li a + .sub-menu .sub-menu-wrapper.blur {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--color-dark-menu);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .nav-menu ul li a + .sub-menu .sub-menu-wrapper.blur {
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
@media screen and (max-width: 1000px) {
  .nav-menu ul li a + .sub-menu .sub-menu-wrapper {
    background: transparent;
  }
}
.nav-menu ul li a + .sub-menu ul {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /* Определение 4 колонок в гриде */
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  /* Ширина для автоматически добавляемых столбцов */
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
  /* Установка направления автоматического размещения вправо */
  gap: 6px 30px;
}
@media screen and (max-width: 1000px) {
  .nav-menu ul li a + .sub-menu ul {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, max-content);
    grid-auto-flow: dense;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
  }
}
@media screen and (max-width: 1000px) and (hover: hover) {
  .nav-menu ul li a + .sub-menu ul > li:hover {
    font-weight: 700;
  }
}
@media screen and (max-width: 1000px) and (hover: none) {
  .nav-menu ul li a + .sub-menu ul > li:active {
    font-weight: 700;
  }
}
.nav-menu ul li a + .sub-menu ul li {
  width: auto;
}
.nav-menu ul > li:hover > a {
  color: var(--color-light-hover-menu);
}
@media screen and (max-width: 1000px) {
  .nav-menu ul > li:hover > a {
    color: var(--color-dark);
  }
}
@media screen and (min-width: 1001px) {
  .nav-menu ul li:hover a + .sub-menu,
  .nav-menu ul li a + div {
    display: block;
    text-shadow: none;
    transition: all var(--transition-duration);
  }
  .nav-menu ul li:hover a + .sub-menu li > a,
  .nav-menu ul li a + div li > a {
    position: relative;
  }
  .nav-menu ul li:hover a + .sub-menu li > a:after,
  .nav-menu ul li a + div li > a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    border-bottom: 1px solid var(--color-light-hover-menu);
    transition: opacity var(--transition-duration);
  }
  .nav-menu ul li:hover a + .sub-menu li:hover > a:after,
  .nav-menu ul li a + div li:hover > a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-light-hover-menu);
    opacity: 1;
    transition: opacity var(--transition-duration);
  }
}

.additional-menu ul {
  display: flex;
  gap: 46px;
  justify-content: end;
}
.additional-menu ul li:hover {
  font-weight: 700;
}

.nav-menu .inner-banner .inner-banner__content {
  width: 100%;
}
.nav-menu .mobile-header-menu {
  padding: 7px 0px;
  position: absolute;
  z-index: 3;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.nav-menu .mobile-header-menu .logo {
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .nav-menu {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}

.mobile-menu {
  display: none;
  color: var(--color-dark-mobile-font);
  background: var(--color-main-whiter);
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
}
@media screen and (max-width: 1000px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu .mobile-menu-image {
  width: clamp(21px, 12.6px + 2.24vw, 35px);
  height: clamp(21px, 12.6px + 2.24vw, 35px);
}
.mobile-menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mobile-menu ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 10px 0px;
  font-size: clamp(12px, 1.2px + 2.88vi, 30px);
}

.active {
  display: block !important;
}

.active-flex {
  display: flex;
}

.active-grid {
  display: grid;
}

.footer-menu__item .footer-menu__sub-menu-item img {
  width: 14px;
  height: 14px;
  align-self: baseline;
}

.footer-contacts {
  color: var(--color-gray-light);
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 15px;
}

.footer-contacts__item {
  display: flex;
  flex-direction: column;
}
.footer-contacts__item .footer-requisits {
  gap: 5px;
}

.footer-menu__item-title {
  font-weight: 700;
  color: var(--color-dark);
  font-size: 25px;
  margin-bottom: 18px;
}

.footer-menu__item-sub-menu-items {
  color: var(--color-gray);
  font-size: 18px;
}

.footer-menu__sub-menu-item + .footer-menu__sub-menu-item {
  margin-top: 11px;
}

.soc-links .footer-menu__sub-menu-item {
  text-decoration: underline;
}
@media (hover: hover) {
  .soc-links .footer-menu__sub-menu-item:hover {
    text-decoration: none;
  }
}
@media (hover: none) {
  .soc-links .footer-menu__sub-menu-item:active {
    text-decoration: none;
  }
}

.useful-links .footer-menu__sub-menu-item a {
  display: flex;
  gap: 6px;
  align-items: center;
  line-height: 1;
}

.footer-wrapper {
  padding-top: 50px;
  padding-bottom: 54px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px 85px;
}
.footer-wrapper .logo {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer-wrapper .footer-contacts {
  grid-column: 1/2;
  grid-row: 2/3;
}
.footer-wrapper .footer-menu-items {
  grid-column: 2/3;
  grid-row: 1/3;
}
@media screen and (max-width: 1000px) {
  .footer-wrapper {
    padding-bottom: clamp(80px, 44px + 9.6vw, 140px);
  }
}
@media screen and (max-width: 768px) {
  .footer-wrapper {
    justify-content: space-between;
  }
  .footer-wrapper .footer-menu-items {
    justify-self: flex-start;
    width: 100%;
    max-width: 100%;
    grid-template-columns: auto 1fr;
  }
}
@media screen and (max-width: 550px) {
  .footer-wrapper {
    gap: 30px 0px;
    grid-template-columns: 1fr;
  }
  .footer-wrapper .logo {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
  }
  .footer-wrapper .footer-contacts {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-wrapper .footer-menu-items {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.footer-menu-items {
  padding-top: 21px;
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(4, auto);
  gap: 50px 20px;
}
@media screen and (max-width: 900px) {
  .footer-menu-items {
    grid-template-columns: repeat(3, auto);
  }
}
.footer-menu-items .useful-links .footer-menu__sub-menu-item:hover,
.footer-menu-items .to-clients .footer-menu__sub-menu-item:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  .footer-menu-items {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
  }
  .footer-menu-items .market-adress {
    order: 3;
  }
  .footer-menu-items .soc-links {
    order: 2;
  }
  .footer-menu-items .useful-links {
    order: 4;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 768px) {
  .footer-menu-items {
    justify-content: flex-start;
  }
  .footer-menu-items .soc-links {
    justify-self: center;
  }
  .footer-menu-items .market-adress {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .footer-menu-items .useful-links {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cool-text-title {
  text-align: center;
  padding-bottom: clamp(23px, 18.8075px + 1.118vi, 32px);
}

@media screen and (max-width: 768px) {
  .cool-text__card-items a {
    display: block;
    width: 100%;
  }
}

.card-items {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, clamp(162px, 111.6894px + 13.4161vi, 270px));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 33px;
}
@media screen and (max-width: 900px) {
  .card-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .card-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 550px) {
  .card-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 375px) {
  .card-items {
    justify-content: center;
  }
}

.card-item:hover {
  cursor: pointer;
}
.card-item:hover .card-item__image {
  overflow: hidden;
}
.card-item:hover .card-item__image img {
  transform: scale(1.1);
  transition: transform var(--transition-duration);
}

.cool-text .card-item {
  display: flex;
  gap: clamp(10px, -0.7126px + 2.857vw, 33px);
}
@media screen and (max-width: 768px) {
  .cool-text .card-item {
    height: -moz-fit-content;
    height: fit-content;
    width: 46%;
    min-width: 46%;
    flex: 1;
  }
}

.card-item__image {
  width: 100%;
  height: clamp(216px, 148.9216px + 17.888vw, 360px);
  height: auto;
  overflow: hidden;
}
.card-item__image img {
  transform: scale(1);
  transition: transform var(--transition-duration);
}
@media screen and (max-width: 768px) {
  .card-item__image {
    height: auto;
  }
}

.collection-gallery a {
  display: block;
}
.collection-gallery .card-item__image {
  height: 100%;
  max-height: 360px;
}
.collection-gallery .card-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.cool-text .card-item__image {
  height: auto;
  max-height: none;
}

.card-item__content {
  padding-top: clamp(6px, 4.1366px + 0.4969vi, 10px);
}

.card-item__content-name {
  font-size: clamp(15px, 12.205px + 0.7453vi, 21px);
}

.card-item__content-price {
  font-size: clamp(14px, 11.6708px + 0.6211vi, 19px);
}

.excluzive-collection__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px 30px;
}
@media screen and (max-width: 768px) {
  .excluzive-collection__wrapper {
    justify-content: center;
  }
}

.excluzive-collection__content {
  background: var(--color-light);
  max-width: 575px;
  min-width: 334px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(42px, 19.1739px + 6.087vi, 91px) 0px clamp(42px, 20.5714px + 5.7143vi, 88px);
}
@media screen and (max-width: 768px) {
  .excluzive-collection__content {
    max-width: none;
  }
}

.excluzive-collection-title {
  font-size: fuid-space(30, 21);
  text-align: center;
}

.excluzive-collection-title__content-image {
  width: clamp(145px, 105.8696px + 10.4348vi, 229px);
}

.excluzive-collection-description {
  color: var(--color-gray);
  font-size: clamp(15px, 11.734px + 0.87vw, 22px);
  max-width: 320px;
  text-align: center;
  padding-bottom: 10px;
}

.excluzive-collection-link {
  color: var(--color-gray-light);
  display: flex;
}
.excluzive-collection-link span {
  display: block;
  font-size: clamp(12px, 9.205px + 0.7453vi, 18px);
}
.excluzive-collection-link img {
  display: block;
  width: clamp(14px, 8.4099px + 1.4907vi, 26px);
}

.excluzive-collection__images {
  min-width: 334px;
  gap: clamp(17px, 11.4099px + 1.4907vi, 29px);
  flex: 1;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .excluzive-collection__images {
    justify-content: center;
    min-width: 270px;
  }
}
@media screen and (max-width: 400px) {
  .excluzive-collection__images {
    justify-content: space-between;
  }
}

.excluzive-collection-model-image {
  width: 100%;
  max-width: 273px;
}
.excluzive-collection-model-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 768px) {
  .excluzive-collection-model-image {
    max-width: none;
  }
}

.unisex-collection__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1150px) {
  .unisex-collection__wrapper {
    justify-content: space-between;
  }
}
@media screen and (max-width: 550px) {
  .unisex-collection__wrapper {
    gap: 16px;
  }
}

.unisex-collection__image-block {
  overflow: hidden;
}
.unisex-collection__image-block a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.unisex-collection__image-block a .unisex-collection__image {
  transform: scale(1);
  transition: transform var(--transition-duration);
}
.unisex-collection__image-block a:hover .unisex-collection__image {
  transform: scale(1.1);
}
.unisex-collection__image-block a:hover .unisex-collection__link {
  color: var(--color-dark);
  text-decoration: none;
}

.unisex-collection__image {
  width: 100%;
}

.unisex-collection__link {
  color: var(--color-main-whiter);
  font-weight: 700;
  letter-spacing: 0.14;
  position: absolute;
  text-decoration: underline;
  top: 20px;
  right: 20px;
  font-size: clamp(13px, 9.2733px + 0.9938vi, 21px);
}
@media screen and (max-width: 550px) {
  .unisex-collection__link {
    top: 14px;
    right: 16px;
  }
}

.unisex-collection__bottom-image-block {
  display: flex;
  flex-direction: row;
  gap: clamp(16px, 9.4798px + 1.739vw, 30px);
}

.unisex-collection__small-image-block {
  max-width: 575px;
  max-height: 453px;
}
@media screen and (max-width: 550px) {
  .unisex-collection__small-image-block {
    width: 100%;
  }
}
.unisex-collection__small-image-block .unisex-collection__image {
  max-width: 575px;
  max-height: 453px;
}
.unisex-collection__small-image-block .unisex-collection__link {
  left: 20px;
  top: 20px;
  white-space: nowrap;
}
@media screen and (max-width: 550px) {
  .unisex-collection__small-image-block .unisex-collection__link {
    bottom: 13px;
    top: auto;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.inner-page .header {
  background: transparent;
  color: var(--color-dark);
  height: auto;
}
.inner-page .header-wrapper-top {
  background: var(--color-main-whiter);
}
.inner-page .header-wrapper {
  padding-bottom: 0px;
}
.inner-page .header-wrapper-bottom {
  display: none;
}
.inner-page .nav-menu ul li a + .sub-menu .sub-menu-wrapper {
  position: relative;
  background: rgba(255, 255, 255, 0.4705882353);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media screen and (min-width: 1001px) {
  .inner-page .nav-menu ul > li:hover > a {
    color: var(--color-dark);
  }
  .inner-page .nav-menu ul li:hover a + .sub-menu li:hover > a {
    color: var(--color-dark);
  }
  .inner-page .nav-menu ul li:hover a + .sub-menu li:hover > a::after {
    border-bottom: 1px solid var(--color-dark);
  }
}

.inner-banner .container .inner-banner__content {
  background: var(--color-light);
  padding: 5px 0px;
  text-align: center;
  font-size: clamp(11px, 9.1354px + 0.497vw, 15px);
  line-height: 1;
}
@media screen and (max-width: 1000px) {
  .inner-banner .container {
    padding-inline: 0;
  }
}

.big-banner-wrapper {
  margin-top: 30px;
  position: relative;
}

.big-banner-image {
  max-width: 1180px;
  max-height: 533px;
}
@media screen and (max-width: 550px) {
  .big-banner-image {
    max-height: none;
  }
}

.big-banner-content {
  position: absolute;
  bottom: 39px;
  left: 53px;
  line-height: 0.8;
  color: var(--color-main-whiter);
  font-size: clamp(30px, 20.6832px + 2.4845vi, 50px);
}
@media screen and (max-width: 550px) {
  .big-banner-content {
    bottom: 0;
    left: 0;
    height: -moz-fit-content;
    height: fit-content;
    top: 43px;
    width: 100%;
    text-align: center;
  }
}

.collection-gallery-top {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.collection-gallery-title {
  line-height: 0.8;
  padding-bottom: 38px;
  font-size: clamp(25px, 18.0124px + 1.8634vi, 40px);
}

.collection-gallery-filter {
  font-size: clamp(18px, 12.4099px + 1.4907vi, 30px);
  font-weight: 700;
  cursor: pointer;
}

.card-items .card-item.middle-card {
  grid-column: -3/span 2;
  /* Занимает 2 столбца, начиная с 3-го */
  grid-row: 2/3;
  width: 100%;
}
.card-items .card-item.middle-card .card-item__image {
  width: clamp(334px, 210.3793px + 32.9655vi, 573px);
  width: 100%;
  max-width: none;
}
.card-items .card-item.middle-card .card-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media screen and (max-width: 900px) {
  .card-items .card-item.middle-card {
    grid-column: -3/span 2;
    grid-row: 2/3;
  }
}
.card-items .card-item.bottom-card {
  grid-column: 1/span 2;
  /* Занимает 2 столбца, начиная с 3-го */
  grid-row: 4/span 2;
}
.card-items .card-item.bottom-card .card-item__image {
  width: clamp(334px, 210.3793px + 32.9655vi, 573px);
  width: 100%;
  max-width: none;
  height: auto;
  max-height: none;
}

.collection-gallery-filter__menu {
  display: none;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  max-width: 416px;
  backdrop-filter: blure(2px);
  -webkit-backdrop-filter: blure(2px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: clamp(15px, 12.205px + 0.7453vi, 21px);
  color: var(--color-dark);
  padding-top: clamp(17px, 15.6025px + 0.3727vi, 20px);
  padding-right: clamp(20px, 6.0248px + 3.7267vi, 50px);
  padding-bottom: 25px;
  padding-left: clamp(17px, 15.6025px + 0.3727vi, 20px);
  border: 0px;
  transition: border var(--transition-duration);
}
.collection-gallery-filter__menu:hover {
  border: 1px solid var(--color-dark);
}

.filter-menu-active {
  display: block;
}

.filter__menu-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.filter__menu-close {
  width: 20px;
  height: 20px;
  align-self: flex-end;
  margin-right: -4px;
}

.filter__menu-sizes-title,
.filter__menu-category-title {
  font-size: clamp(21px, 16.8075px + 1.118vi, 30px);
  font-weight: 700;
}

.filter__menu-sizes-title {
  align-self: end;
}

.filter__menu-content {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.filter__menu-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 74px;
  line-height: 0.8;
}

.filter__menu-settings {
  display: flex;
  gap: 27px;
  align-items: flex-end;
  font-weight: 700;
}

.filter-menu-middle {
  text-decoration: underline;
}

.filter__menu-category {
  line-height: 0.7;
  font-size: clamp(21px, 16.8075px + 1.118vi, 30px);
}

.filter__menu-category-items {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 25px;
}

.filter__menu-category-item {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 25px;
}

.filter-menu-item-active {
  font-weight: 700;
}

.filter__menu-sizes-items {
  display: flex;
  gap: 18px;
}

.menu-sizes-item:checked {
  font-weight: 700;
}

.menu-sizes-item__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
}

.menu-sizes-item {
  text-decoration: underline;
  font-weight: 400;
}

.menu-sizes-item:has(.menu-sizes-item__input:checked) {
  /* ваш стиль, применяемый к label, когда input checked */
  font-weight: bold;
}

.product-card-top {
  display: flex;
  justify-content: space-between;
}

.product-card-top {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 30px;
}

.bread-crumbs {
  color: var(--color-gray);
  font-size: 18px;
}

.product-card-wrapper {
  color: var(--color-dark);
  display: flex;
  flex-wrap: wrap;
  gap: 30px 32px;
}

.product-card-close-btn {
  width: 20px;
  height: 20px;
}

.product-card-image {
  width: 478px;
  height: 684px;
  cursor: zoom-in;
}
@media screen and (max-width: 900px) {
  .product-card-image {
    min-width: 270px;
    flex: 1;
  }
  .product-card-image img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.price-cost {
  font-size: 25px;
}

.product-card-requizits__article {
  color: var(--color-light-alt);
}

.product-card-size-title {
  font-size: 19px;
}

.product-card-size-types {
  display: flex;
  gap: 8px;
}

.product-card-content {
  width: auto;
  flex: 1;
}

.product-card-title {
  font-size: clamp(24px, 18.8812px + 1.366vw, 35px);
  padding-bottom: 14px;
}
.product-card-title span {
  white-space: nowrap;
}

.product-card-requizits {
  display: flex;
  justify-content: space-between;
  max-width: 541px;
  padding-bottom: 40px;
}

.product-card-requizits__price {
  font-size: clamp(20px, 17.6722px + 0.621vw, 25px);
}

.product-card-requizits__article {
  font-size: clamp(12px, 10.5986px + 0.373vw, 15px);
}

.product-card-size-title {
  font-size: clamp(15px, 13.1354px + 0.497vw, 19px);
  padding-bottom: 14px;
}

.product-card-size-types {
  padding-bottom: clamp(28px, 18.6888px + 2.484vw, 48px);
}

.product-card-size-buttons__button a:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background: #333333;
}

.product-card-size-accordion__item .product-card-size-accordion__top {
  cursor: pointer;
}

.product-card-size-type {
  font-size: clamp(12px, 10.5986px + 0.373vw, 15px);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 100px;
  border: 1px solid var(--color-gray);
  width: clamp(23px, 20.6722px + 0.621vw, 28px);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card-size-type .product-card-size-type__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  appearance: none;
}
.product-card-size-type:has(.product-card-size-type__input) {
  cursor: pointer;
}
.product-card-size-type:has(.product-card-size-type__input:checked) {
  color: var(--color-main-whiter);
  background: var(--color-dark);
  cursor: default;
}

.product-card-size-buttons {
  display: flex;
  gap: 37px;
  align-items: center;
  color: var(--color-dark);
  font-size: 15px;
  padding-bottom: clamp(30px, 20.6888px + 2.484vw, 50px);
}

.product-card-size-buttons__button {
  background: var(--color-dark);
  color: var(--color-main-whiter);
  font-weight: 700;
  white-space: nowrap;
}

.product-card-size-accordion__top {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  padding-bottom: 19px;
}

.product-card-size-accordion__top-name {
  font-size: 19px;
  font-weight: 700;
}

.product-card-size-accordion__cross {
  position: relative;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-size-accordion__crossline {
  display: block;
  border: 1px solid var(--color-gray);
  width: 100%;
  height: 1px;
  margin-top: -1px;
}
.product-card-size-accordion__crossline:after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--color-gray);
  height: 100%;
  width: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(1);
  transition: transform var(--transition-duration);
  transform-origin: center;
}
.product-card-size-accordion__crossline.crossline-hidden::after {
  content: "";
  transform: translateX(-50%) scaleY(0);
  transition: transform var(--transition-duration);
  transform-origin: center;
}

.product-card-size-accordion__description {
  font-size: 15px;
  max-width: 589px;
  max-height: 300px;
  overflow: hidden;
  transition: max-height var(--transition-duration);
}
.product-card-size-accordion__description > div {
  margin-bottom: clamp(56px, 53.209px + 0.745vw, 62px);
}
.product-card-size-accordion__description.hidden-description {
  max-height: 0;
  transition: max-height var(--transition-duration);
}

.also-buy-title,
.favorites-title {
  font-size: clamp(21px, 18.209px + 0.745vw, 27px);
  margin-top: clamp(25px, 16.6152px + 2.236vw, 43px);
  margin-bottom: clamp(25px, 10.095px + 3.975vw, 57px);
}

.cool-text__card-items,
.also-buy-wrapper,
.favorites-wrapper {
  display: flex;
  gap: clamp(10px, -0.7126px + 2.857vw, 33px);
}
.cool-text__card-items .card-item__image img,
.also-buy-wrapper .card-item__image img,
.favorites-wrapper .card-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .cool-text__card-items,
  .also-buy-wrapper,
  .favorites-wrapper {
    flex-wrap: wrap;
  }
  .cool-text__card-items .card-item__image,
  .also-buy-wrapper .card-item__image,
  .favorites-wrapper .card-item__image {
    height: auto;
    max-height: none;
  }
  .cool-text__card-items .card-item,
  .also-buy-wrapper .card-item,
  .favorites-wrapper .card-item {
    height: -moz-fit-content;
    height: fit-content;
    width: 46%;
    min-width: 46%;
    flex: 1;
  }
}

.card-item .button-block {
  display: flex;
  gap: 25px;
}

.to-basket-btn,
.delete-btn {
  color: var(--color-dark);
  font-size: clamp(14px, 11.6722px + 0.621vw, 19px);
  font-weight: 700;
  text-decoration: underline;
}
.to-basket-btn:hover,
.delete-btn:hover {
  text-decoration: none;
  transition: -webkit-text-decoration var(--transition-duration);
  transition: text-decoration var(--transition-duration);
  transition: text-decoration var(--transition-duration), -webkit-text-decoration var(--transition-duration);
}

.basket-content {
  flex: 1;
  max-width: 445px;
}

.basket-title {
  margin-bottom: 23px;
}

.basket-order-title {
  margin-bottom: 14px;
}

.basket-title,
.basket-order-title {
  font-size: clamp(25px, 24.0736px + 0.248vw, 27px);
}

.field-wrapper {
  display: block;
  margin-top: 29px;
}
.field-wrapper:hover {
  cursor: pointer;
}

.basket-card-items {
  border-bottom: 1px solid var(--color-dark);
  padding-bottom: 39px;
  grid-template-columns: repeat(2, minmax(auto, 201px));
  justify-content: center;
}
.basket-card-items .card-item__image {
  max-width: 201px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .basket-card-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .basket-card-items .card-item__image {
    max-width: none;
  }
}
@media screen and (max-width: 550px) {
  .basket-card-items {
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
  }
}

.basket-content-total {
  color: var(--color-dark);
  margin-top: 34px;
  margin-bottom: 14px;
}

.total-text {
  font-size: clamp(25px, 24.0736px + 0.248vw, 27px);
  font-weight: 700;
}

.total-price {
  font-size: 21px;
}

.basket-foget {
  font-size: 18px;
}

.foget-question {
  font-weight: 700;
}

.foget-back {
  color: var(--color-fray-alt);
}

.basket-content-foget,
.basket-content-total {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .basket-content-foget {
    flex-wrap: wrap;
    gap: 5px 20px;
  }
}
.basket-wrappper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: clamp(27px, 15.3492px + 3.106vw, 52px);
  gap: 70px 70px;
}
@media screen and (max-width: 768px) {
  .basket-wrappper {
    flex-direction: column;
  }
  .basket-wrappper .basket-content,
  .basket-wrappper .basket-order {
    width: 100%;
    max-width: 100%;
  }
}

.basket-order {
  max-width: 589px;
  flex: 1;
  min-width: 150px;
}

.basket-order-form input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 15px;
  border-bottom: 1px solid var(--color-dark);
  width: 100%;
  display: block;
  padding-bottom: 11px;
}
.basket-order-form input::-moz-placeholder {
  color: var(--color-gray);
}
.basket-order-form input::placeholder {
  color: var(--color-gray);
}

.basket-order-field-name {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 21px;
}

.field-wrapper .radio-united {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 15px;
}
.field-wrapper input[type=radio] {
  position: absolute;
  --webkit-appearance: none;
  --moz-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0px;
}
.field-wrapper .field-radio-item {
  padding-left: 15px;
  position: relative;
  white-space: nowrap;
}
.field-wrapper .field-radio-item:has(.input-radio:checked) .radio-icon::after {
  position: absolute;
  content: "✓";
  font-size: 18px;
  font-weight: 700;
  top: -10px;
  left: 0px;
  color: var(--color-dark);
}
.field-wrapper .radio-icon {
  margin-left: -15px;
  position: absolute;
  border: 1px solid var(--color-dark);
  width: 10px;
  height: 10px;
  top: 25%;
}
.field-wrapper input[type=submit] {
  border: 0px;
  cursor: pointer;
  background: var(--color-dark);
  color: var(--color-main-whiter);
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 15px;
  font-weight: 700;
}
.field-wrapper input[type=submit]:active {
  transform: scale(0.95);
  transition: transform var(--transition-duration);
}
.field-wrapper:has(input[type=submit]) {
  margin-top: 68px;
}
.field-wrapper:has(input[type=submit]) .basket-order-field-name {
  padding-bottom: 0px;
}

.fields-united {
  display: flex;
  gap: 22px;
}
.fields-united .field-city {
  width: 100%;
  min-width: 35%;
}
@media screen and (max-width: 768px) {
  .fields-united {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 550px) {
  .fields-united {
    display: contents;
    flex-direction: column;
  }
}

.field-postal-code {
  min-width: 233px;
}
@media screen and (max-width: 768px) {
  .field-postal-code {
    min-width: 45%;
  }
}

.field-city {
  flex: 1;
}

.field-radio-item {
  display: flex;
}

.delivery-payment__inner {
  display: flex;
  gap: 38px 75px;
  padding-top: 48px;
}
@media screen and (max-width: 550px) {
  .delivery-payment__inner {
    flex-wrap: wrap;
  }
}

.delivery-payment__side-menu {
  font-size: 23px;
  flex: 1;
  max-width: 208px;
  min-width: 150px;
}
@media screen and (max-width: 550px) {
  .delivery-payment__side-menu {
    max-width: none;
  }
}

.side-menu__item {
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-gray-light);
  border-bottom: 1px solid var(--color-dark);
  padding-left: 11px;
  padding-bottom: 15px;
}
.side-menu__item + .side-menu__item {
  padding-top: 15px;
}
.side-menu__item.active {
  color: var(--color-dark);
}

.article-block {
  min-width: 270px;
  font-size: clamp(15px, 13.1354px + 0.497vw, 19px);
}
.article-block h3 {
  font-size: clamp(15px, 13.1354px + 0.497vw, 19px);
}
.article-block ul {
  padding-left: 40px;
}
.article-block ul li {
  list-style-type: disc;
}/*# sourceMappingURL=style.css.map */